/* Latin Modern (the LaTeX face), GUST Font License, via latex-css.
   Latin Modern Math, GUST Font License, subset to the symbols the page
   uses, declared last so it wins for those codepoints. JetBrains Mono,
   OFL, subset with arrows and operators included. Nothing else ships. */

@font-face {
  font-family: 'Latin Modern';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("LM-regular.woff2") format('woff2');
}
@font-face {
  font-family: 'Latin Modern';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url("LM-italic.woff2") format('woff2');
}
@font-face {
  font-family: 'Latin Modern';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("LM-bold.woff2") format('woff2');
}
@font-face {
  font-family: 'Latin Modern';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url("LM-bold-italic.woff2") format('woff2');
}

@font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("JetBrainsMono-subset.woff2") format('woff2');
}

/* math symbols, all styles and weights */
@font-face {
  font-family: 'Latin Modern';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("LMMath-subset.woff2") format('woff2');
  unicode-range: U+03B1-03B2, U+03B6, U+2113, U+211D, U+2192-2193, U+2200, U+220E, U+2211, U+2234, U+2261, U+2264-2265, U+22EF;
}
@font-face {
  font-family: 'Latin Modern';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url("LMMath-subset.woff2") format('woff2');
  unicode-range: U+03B1-03B2, U+03B6, U+2113, U+211D, U+2192-2193, U+2200, U+220E, U+2211, U+2234, U+2261, U+2264-2265, U+22EF;
}
@font-face {
  font-family: 'Latin Modern';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("LMMath-subset.woff2") format('woff2');
  unicode-range: U+03B1-03B2, U+03B6, U+2113, U+211D, U+2192-2193, U+2200, U+220E, U+2211, U+2234, U+2261, U+2264-2265, U+22EF;
}
